

.select_heading {
    width: 35%;
    padding-top: 4vh;
}
.select_wrapper {
    padding-bottom: 10vh;
}

.image_wrapper {
    position: relative;
    width: 65%;
    /* margin: 0 auto; */
    /* 親要素を中央に配置 */
    height: 100px;
}
.select_text {
    position: absolute;
    writing-mode: vertical-rl;
    top: 50%;
    left: 140%;
    font-size: 17px;
    white-space: nowrap;
    /* 改行を防ぐ */
}
.select_img {
    width: 100%;
    position: absolute;
}

.select_img_white {
    position: absolute;
    left: 55%;
    /* パーセンテージに変更 */
    top: 70%;
    /* パーセンテージに変更 */
}

.round_1st {
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 1%;
}
.navy_1st{
    position: absolute;
    font-size: 17px;
    font-family: "source-han-serif-jp-variable",
    sans-serif;
    transform: rotate(-25deg);
    color: #ffffff;
     text-shadow: 2px 2px 3px rgba(49, 45, 130, 0.5);
     /* 影の設定 */
    top: 68%;
    left: 65%;
    font-weight: bold;
}
.navy_1st_sign{
    position: absolute;
    font-size: 17px;
    font-family: "source-han-serif-jp-variable",
    sans-serif;
    transform: rotate(-25deg);
    color: #ffffff;
     text-shadow: 2px 2px 3px rgba(49, 45, 130, 0.5);
     /* 影の設定 */
    top: 70%;
    left: 65%;
    font-weight: bold;
}
.white_1st{
    position: absolute;
    font-size: 17px;
    font-family: "source-han-serif-jp-variable",
    sans-serif;
    transform: rotate(-25deg);
    color: #ffffff;
     text-shadow: 2px 2px 3px rgba(49, 45, 130, 0.5);
     /* 影の設定 */
    top: 140%;
    left: 120%;
    font-weight: bold;
}
.white_1st_sa{
    position: absolute;
    font-size: 17px;
    font-family: "source-han-serif-jp-variable",
    sans-serif;
    transform: rotate(-25deg);
    color: #ffffff;
     text-shadow: 2px 2px 3px rgba(49, 45, 130, 0.5);
     /* 影の設定 */
    top: 140%;
    left: 110%;
    font-weight: bold;
    white-space: nowrap;
}
.white_1st_mercie{
    position: absolute;
    font-size: 17px;
    font-family: "source-han-serif-jp-variable",
    sans-serif;
    transform: rotate(-25deg);
    color: #ffffff;
     text-shadow: 2px 2px 3px rgba(49, 45, 130, 0.5);
     /* 影の設定 */
    top: 143%;
    left: 115%;
    font-weight: bold;
    white-space: nowrap;
}

input[type="radio"] {
    display: none;
}

.sword {
    width: 20%;
    position: absolute;
    top: 70%;
    left: 68%;
}


.padding_top_4vh {
    padding-top: 4vh;
}