.thanks_logo {
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 50%;
}

main {
    font-family: "source-han-serif-jp-variable",
    sans-serif;
    font-weight: bold;
}
.thanks_text {
    font-size: 20px;
    color: #2f2f2f;
    margin-bottom: 3vh;
}
.pink {
    color: #E07595;
}
.red {
    color: red;
}
.line_marker {
    background: linear-gradient(transparent 50%, #B5D8EB 50%);
}
.map_content {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.map {
    width: 80%;
}
.thanks_indent {
    text-indent: -1em;
    padding-left: 1em;
}
form {
    width: 100%;
    display: flex;
    /* padding-top: 10%; */
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 3vh;


}

.slide-submit {
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 50px;
    background: white;
    padding: 4px;
    border: 1px solid #DDDDDD;
}

.slide-submit button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    margin: 4px;
    width: 50%;
    background: #63bdeb;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 2px;
    transition: all 200ms linear;
    cursor: pointer;
}

.slide-submit button.submitted {
    width: 97%;
    opacity: 0.8;
}

.slide-submit button.submitted+label {
    display: none;
}

.slide-submit label {
    position: absolute;
    z-index: 8;
    top: 0px;
    right: 0px;
    width: 50%;
    font-size: 10px;
    text-align: center;
    color: #A7ADB3;
    font-weight: bold;
}